fastapi[all]
motor
pymongo
pymongo[srv]
redis
httpx
pycountry
phonenumbers
passlib[bcrypt]
bcrypt
pyjwt[crypto]
fastapi-mail
jinja2
twilio
scalar-fastapi
celery
pybloom-live
cryptography
argon2-cffi
slowapi
python-multipart
email-validator